# TypeScript ignores
# Logs
*.log

# Runtime data
node_modules/
cdk.out/

# TypeScript compiled output
*.js
*.d.ts
*.js.map

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
.DS_Store

# Python ignores
*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
